<div class="social-share">
  <ul class="socialcount socialcount-small inline-list">
    <li class="facebook"><a href="https://www.facebook.com/{{ site.url }}{{ page.url }}" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>
    <li class="instagram"><a href="https://www.instagram.com/{{ site.url }}{{ page.url }}" title="Share on Twitter"><span class="count"><i class="fa fa-instagram"></i> Follow</span></a></li>
    <li class="github"><a href="https://github.io/{{ site.url }}{{ page.url }}" title="Share on Google Plus"><span class="count"><i class="fa fa-github-square"></i> Fork</span></a></li>

  </ul>
</div><!-- /.social-share -->
