<div class="social-share">
  <ul class="socialcount socialcount-small inline-list">
    <li class="facebook"><a href="https://www.facebook.com/yeonggyu0128" title="Share on Facebook" target="_blank"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>
    <li class="instagram"><a href="https://www.instagram.com/yeonggyulim" title="Share on Twitter" target="_blank"><span class="count"><i class="fa fa-instagram"></i> Follow</span></a></li>
    <li class="github"><a href="https://github.io/yeonggyulim" title="Share on Google Plus" target="_blank"><span class="count"><i class="fa fa-github-square"></i> Fork</span></a></li>

  </ul>
</div><!-- /.social-share -->
